body
{
    background-color: #EAD3D9;
}
.header
{
    background-color: white ;
    height: 50px;
}
.header ul
{
    float: right;
    list-style: none;
}
.header ul li
{
    display: inline;
    padding: 20px;
    text-transform: uppercase;
}
.header ul a
{
    text-decoration:none;
    color:black;
}
.btn
{
    padding: 10px;
    background-color: #872DDC;
    border-radius: 30px;
    margin-right: 20px;
}
.banner
{
    height: 390px;
    width: 80%;
     margin:50px 130px 50px 130px; 
    background-color: #EDF2F6;
    border: 20px solid white;
}
.banner-content
{
    float: left;
    padding-top: 70px;
    padding-left: 80px;
}
.banner-content p
{
    margin-bottom: 50px;
}
.banner-img
{
    float: right;
    margin-top: 20px;
}
.banner-content-btn1
{
    text-transform: uppercase;
    padding: 10px;
    background-color: #6C19DE;
    border-radius: 30px;
    color: white;
    text-decoration:none;
}
.banner-content-btn2
{
    text-transform: uppercase;
    padding: 10px;
    background-color:#F8CA77;
    border-radius: 30px;
    color: white;
    text-decoration:none;
    margin-left: 40px;
}

.box1-circle
{
    background-color: #F8CA77;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 50px;
}
.box1-circle img
{
    height: 80px;
    width: 80px;
    padding-left: 20px;
    padding-top: 20px;
}
.box1 p
{
    padding-left: 30px;
}
.box2 p
{
    padding-left: 30px;
}
.box3 p
{
    padding-left: 30px;
}
.box1{
    background-color: white;
    width:31% ;
    height: 400px;
    float: left;
    margin-right: 2%;

}
.box2{
    background-color: white;
    width:32% ;
    height: 400px;
    float: left;

    
    margin-right: 2%;
}
.box3{
    background-color: white;
    width: 33%;
    height: 400px;
    float: right;
    
    
}
#boxes{
    width: 90%;
    margin: 0 auto;
}